<h1>Login</h1>
<form name="login" onsubmit="alert('You have successfully logged in')" autocomplete="off">
    <ul style="list-style: none">
        <li>
            Username
            <input type="text" required name="username" ng-model="obj3.username"></li>
    <li>
            <span ng-show='login.username.$dirty&&login.username.$invalid'>
    Valid Username is required
  </span></li>


    <li>Password
            <input type="password" required name="password" ng-model="obj3.password"></li>
    <li>   <span ng-show='login.password.$dirty&&login.password.$invalid'>
   Password is required
  </span></li>
        
        
        <li><input type="submit" ng-click="loginForm(login)" ng-disabled="login.$invalid"></li>
    </ul>
</form>