<h1>Add Company</h1>
<form name="company" autocomplete="off">
    <ul style="list-style: none">
            <li>Name</li>
            <li><input type="text" name="name" required ng-model="obj2.name" ng-pattern="/^[a-zA-Z ]{3,30}$/"></li>
            <li><span
                    ng-show='company.name.$dirty&&company.name.$invalid||company.name.$dirty&&company.name.$error.pattern'>
    Characters should be between 3 to 30
  </span></li>
            <li>User Name</li>
            <li><input type="text" name="uname" required ng-model="obj2.uname" ng-pattern="/^[a-zA-Z0-9]+$/"></li>
            <li><span
                    ng-show='company.uname.$dirty&&company.uname.$invalid||company.uname.$dirty&&company.uname.$error.pattern'>
   Please enter valid username
  </span></li>


            <li>
                Password
            </li>
            <li><input type="password" name="password" required ng-model="obj2.password"></li>
            <li><span ng-show='company.password.$dirty&&company.password.$invalid'>
    Password is required
  </span></li>


            <li>
                Description
            </li>
            <li><input type="text" name="desc" required ng-model="obj2.desc" ng-pattern="/^[a-zA-Z]+$/"></li>
        <li><span
                ng-show='company.desc.$dirty&&company.desc.$invalid||company.desc.$dirty&&company.desc.$error.pattern'>
    Please enter some description
  </span></li>

            <li>
                Contact Number
            </li>
            <li><input type="number" name="contact" required ng-model="obj2.contact" ng-pattern="/^(7|8|9)\d{9}$/"></li>
            <li><span
                    ng-show='company.contact.$dirty&&company.contact.$invalid||company.contact.$dirty&&company.contact.$error.pattern'>
    Please enter 10 digits
  </span></li>



            <li>
                Website
            </li>
            <li><input type="text" id="website" name="website" required ng-model="obj2.website" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"></li>
        <li><span
                ng-show='company.website.$dirty&&company.website.$invalid||company.website.$dirty&&company.website.$error.pattern'>
    Please enter valid website name
  </span></li>


            <li>
                Country
            </li>
            <li><select id="country" ng-model="obj2.country" required
            >
                <option value="">Please choose Country</option>

                <option ng-repeat="count in country">{{count.country}}</option>
            </select></li>


            <li>
                State
            </li>
            <li>
                <select id="state" required ng-disabled="!obj2.country" ng-model="obj2.state">
                    <option value="">Please choose State</option>
                    <option ng-repeat="stat in states|filter:{'c':obj2.country}">{{stat.state}}</option>
                </select>
            </li>

        <li>
            City
        </li>
        <li>
            <select id="city" ng-disabled="!obj2.country || !obj2.state" ng-model="obj2.city" required>
                <option value="">Please choose State</option>
                <option ng-repeat="city in cities|filter:{'s':obj2.state}">{{city.city}}</option>

            </select>
        </li>
            <li><input type="submit" ng-disabled="company.$invalid" ng-click="add(company)" value="Add user"></li>
    </ul>

</form>