<h1>Add Your Employee</h1>
<form name="signup" autocomplete="off">
    <ul style="list-style: none">
            <li>Name</li>
            <li><input type="text" name="name" required ng-model="obj.name" ng-pattern="/^[a-zA-Z]{3,30}$/"></li>
            <li><span
                    ng-show='signup.name.$dirty&&signup.name.$invalid||signup.name.$dirty&&signup.name.$error.pattern'>
        Characters should be between 3 to 30

  </span></li>
        

            <li>
                Email
            </li>
            <li><input type="email" name="email" required ng-model="obj.email" ng-pattern="/\S+@\S+\.\S+/"></li>
        <li><span
                ng-show='signup.email.$dirty&&signup.email.$invalid||signup.email.$dirty&&signup.email.$error.pattern'>
        Please enter valid email

  </span></li>



        <li>
                Contact Number
            </li>
            <li><input type="number" name="contact" required ng-model="obj.contact" ng-pattern="/(7|8|9)\d{9}/"></li>
            <li><span
                    ng-show='signup.contact.$dirty&&signup.contact.$invalid||signup.contact.$dirty&&signup.contact.$error.pattern'>
    Please enter 10 digits
  </span></li>

        <li>
            Date of Birth
        </li>
        <li><input type="date" name="dob" required ng-model="obj.dob" ng-required="true"></li>
        <li><span
                ng-show='signup.dob.$dirty&&signup.dob.$invalid||signup.dob.$dirty&&signup.dob.$error.pattern'>
        Please enter your valid Date of Birth
  </span></li>


        <li>
            Country
        </li>
        <li><select id="country" ng-model="obj.country" required
        >
            <option value="">Please choose Country</option>

            <option ng-repeat="count in country">{{count.country}}</option>
        </select></li>


        <li>
            State
        </li>
        <li>
            <select id="state" required ng-disabled="!obj.country" ng-model="obj.state">
                <option value="">Please choose State</option>
                <option ng-repeat="stat in states|filter:{'c':obj.country}">{{stat.state}}</option>
            </select>
        </li>

        <li>
            City
        </li>
        <li>
            <select id="city" ng-disabled="!obj.country || !obj.state" ng-model="obj.city" required>
                <option value="">Please choose State</option>
                <option ng-repeat="city in cities|filter:{'s':obj.state}">{{city.city}}</option>

            </select>
        </li>
            <li><input type="submit" ng-disabled="signup.$invalid" ng-click="add(signup)" value="Add user"></li>
    </ul>
    <input type="button" ng-click="getList()" value="Get Employees">
        
</form>